\#Pagina e-comerce/assets/js/categorias.js
\#Pagina e-comerce/assets/js/db/BaseDeDatos.js
\#Pagina e-comerce/assets/js/extra/alertas.js
\#Pagina e-comerce/assets/js/extra/e-fun.js
\#Pagina e-comerce/assets/js/extra/index.js
\#Pagina e-comerce/assets/js/index.js
\#Pagina e-comerce/assets/js/ofertas.js
\#Pagina e-comerce/assets/js/tienda.js
\#Pagina e-comerce/assets/styles/index.css
\#Pagina e-comerce/assets/styles/tienda.css
\#Pagina e-comerce/index.html
\#Pagina e-comerce/pages/categorias.html
\#Pagina e-comerce/pages/detalles.html
\#Pagina e-comerce/pages/ofertas.html
\#Pagina e-comerce/pages/tienda.html
\#Pagina e-comerce/public/Images/Confirmamos.png
\#Pagina e-comerce/public/Images/Corazones.png
\#Pagina e-comerce/public/Images/Electrizante.png
\#Pagina e-comerce/public/Images/Prisma.png
\#Pagina e-comerce/public/Images/Retratos.png
\#Pagina e-comerce/assets/js/carrito.js
